<div class="row">
  <div class="content-header">
    <h1>Provas
      <small>{{ sub_title }}</small>
    </h1>
    <nav>
      <div class="nav-wrapper2 row">
        <div class="col s12">
          <a href="#/">Banco de Questões</a> >
          <a href="#/provas">Provas</a> >
          <span>Criar provas</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="card col s12">
    <div class="card-content">
      <form class="row" autocomplete="on">
        <div class="input-field col s12">
          <h5>Filtro de Questões</h5>
        </div>
        <div class="input-field col s3">
          <select v-model="questao.area_id" id="area_id" class="browser-default">
            <option value="" disabled selected>Selecione a área</option>
            <option v-for="area in areas.data" :value="area.id">{{area.area}}</option>
          </select>
          <label class="active">Área</label>
        </div>
        <div class="input-field col s2">
          <select v-model="questao.serie_id" id="serie_id" class="browser-default" @change="getNivels">
            <option value="" disabled selected>Selecione a série</option>
            <option v-for="serie in series.data" :value="serie.id">{{serie.serie}}</option>
          </select>
          <label class="active">Série</label>
        </div>
        <div class="input-field col s1 ">
          <select v-model="questao.nivel_id" id="nivel_id" class="browser-default" @change="getCategorias">
            <option value="" disabled selected>Selecione o nível</option>
            <option v-for="nivel in nivels.data" :value="nivel.id">{{nivel.nivel}}</option>
          </select>
          <label class="active">Nível</label>
        </div>
        <div class="input-field col s3">
          <select v-model="questao.categoria_id" id="categoria_id" class="browser-default" @change="getHabilidades">
            <option value="" disabled selected>Selecione o Tema/Tópicos</option>
            <option v-for="categoria in categorias.data" :value="categoria.id">{{categoria.categoria}}</option>
          </select>
          <label class="active">Tema/Tópicos</label>
        </div>
        <div class="input-field col s3">
          <select v-model="questao.habilidade_id" id="habilidade_id" class="browser-default" @change="getQuestao">
            <option value="" disabled selected>Selecione a Habilidades</option>
            <option v-for="habilidade in habilidades.data" :value="habilidade.id">{{habilidade.habilidade}}</option>
          </select>
          <label class="active">Habilidades</label>
        </div>
      </form>

      <div class="input-field col s12">
        <a @click.prevent="addQuestao" id="buttonAdd" class="btn-floating btn-large waves-effect waves-light"><i
          class="ion-md-add"></i></a>
      </div>
    </div>
    <div class="card-content">
      <div>
        <ul id="listaQuestao" class="collapsible popout" data-collapsible="accordion">

        </ul>
      </div>
    </div>
    <div class="card-content">
      <div class="input-field col s12">
        <input type="submit" class="waves-effect waves-light btn-large  indigo accent-1 darken-4" value="Gerar Prova">
      </div>
      <div class="card-action col s12">
        <a class="waves-effect waves-light btn indigo accent-1 darken-4" href="#/provas">Voltar</a>
      </div>
    </div>

  </div>
</div>
