<div class="row">
  <div class="content-header">
    <h1>Provas
      <small>{{ sub_title }}</small>
    </h1>
    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="#/">Banco de Questões</a> >
          <a href="#/provas">Provas</a> >
          <span>Criar provas</span>
        </div>
      </div>
    </nav>
  </div>
  <div class="card col s12">
    <div class="card-content">
      <form class="row" autocomplete="on">
        <div class="input-field col s12">
          <h5>Filtro de Questões</h5>
        </div>
        <div class="input-field col s3">
          <select class="browser-default">
            <option value="" disabled selected>Selecione a Área</option>
            <option value="1">Lingua Portuguesa</option>
            <option value="2">Matemática</option>
          </select>
          <label v-for="" class="active">Área</label>
        </div>
        <div class="input-field col s2">
          <select class="browser-default">
            <option value="" disabled selected>Selecione a Série</option>
            <option value="1">5º Ano</option>
            <option value="2">9º Ano</option>
          </select>
          <label v-for="" class="active">Série</label>
        </div>
        <div class="input-field col s1 ">
          <select class="browser-default">
            <option value="" disabled selected>Selecione Nível</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <label v-for="" class="active">Nível</label>
        </div>
        <div class="input-field col s3">
          <select class="browser-default">
            <option value="" disabled selected>Selecione a Categoria</option>
            <option value="1">Números e Operações</option>
            <option value="2">Tratamento da Informação</option>
            <option value="3">Grandezas e Medidas</option>
            <option value="4">Espaços e Formas</option>
            <option value="5">Tratamento de Informações</option>
          </select>
          <label v-for="" class="active">Categoria</label>
        </div>
        <div class="input-field col s3">
          <select class="browser-default">
            <option value="" disabled selected>Selecione a Habilidades</option>
            <option value="1">D16 - Identificar a localização de números inteiros na
              reta numérica.</option>
            <option value="2">D17 - Identificar a localização de números racionais na
              reta numérica.</option>
            <option value="3">D18 - Efetuar cálculos com números inteiros,
              envolvendo as operações (adição, subtração,
              multiplicação, divisão, potenciação).</option>
            <option value="4">D19 - Resolver problema com números naturais,
              envolvendo diferentes significados das operações
              (adição, subtracão, multiplicação, divisão,
              potenciação).</option>
            <option valeu="5">D20 - Resolver problema com números inteiros
              envolvendo as operações (adição, subtracão,
              multiplicação, divisão, potenciação).</option>
            <option valeu="6">D21 - Reconhecer as diferentes representações de um
              número racional.</option>
            <option valeu="7">D22 - Identificar fração como representação que pode
              estar associada a diferentes significados.</option>
            <option value="8" >D23 - Identificar frações equivalentes.</option>
            <option value="9" > D24 - Reconhecer as representações decimais dos
              números racionais como uma extensão do sistema de
              numeração decimal, identificando a existência de
              "ordens" como décimos, centésimos e milésimos.</option>
            <option value="10" >D25 - Efetuar cálculos que envolvam operações com
              números racionais (adição, subtracão, multiplicação,
              divisão, potenciação).</option>
          </select>
          <label v-for="" class="active">Habilidades</label>
        </div>

        <div class="input-field col s6">
          <input type="submit" class="waves-effect waves-light btn-large  indigo accent-1 darken-4" value="Gerar Prova">
        </div>
        <div id="div_chip">
        <div v-for="todo in todos" class="chip">
          {{todo.text}}
          <i class="close material-icons ion-ios-close-circle"></i>
        </div>
        </div>
        <!--<div>
          <div class="input-field col s6">
            <input type="text" id="title" class="validate" placeholder="Como você prefere identificar esta conta?"
                   required>
            <label for="title" class="active">Título da conta</label>
          </div>
          <div class="input-field col s6">
            <input type="text" id="balance_initial" class="validate" placeholder="Qual o valor inicial desta conta?"
                   required>
            <label for="title" class="active">Valor inicial</label>
          </div>
          <div class="input-field col s6">
            <select class="browser-default">
              <option value="0">Escolha um banco</option>
              <option class="left circle">Banco (000)</option>
            </select>
            <label for="" class="active">Qual seu banco?</label>
          </div>
          <div class="input-field col s6">
            <input type="number" id="agency" class="validate" placeholder="Qual o número da sua agencia?" required>
            <label for="agency" class="active">Número da agência</label>
          </div>
          <div class="input-field col s6">
            <input type="number" id="account_number" class="validate" placeholder="Qual o número da sua conta?"
                   required>
            <label for="accont_number" class="active">Número da conta</label>
          </div>
          <div class="input-field col s6">
            <input type="submit" class="waves-effect waves-light btn-large blue-grey darken-4" value="salvar">
          </div>
        </div>-->
      </form>
  </div>
  <div class="card-action">
    <a href="#/provas">Voltar</a>
  </div>
</div>
</div>
